@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
	margin: 0px;
	
}
.container_turn
{
	position: fixed;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex; 
	animation-name: visibility;
	animation-duration: 3s;
	background: white;
	opacity: 0%;
	visibility: hidden;
}
.spinner
{
	border: 8px solid #f3f3f3;
	border-radius: 59px;
	border-top: 8px solid #ff79da;
	width: 86px;
	height: 86px;
	animation: spinner 3s ease-in-out;
}
header
{
	text-align: center;
}

.logo_title
{
	margin-top: 10px;
	width: 35%;
	padding-bottom: 8px;
}

.section_top
{
	text-align: center;
	background-color: #f6f6f6;
	height: 334px;
}
.border_location
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0px solid #f6f6f6;
	border-top: 2px solid #dddddd;
	background-color: #eaeaea;
	width: 100%;
	height: 50px;
}
.icon_location
{
	width: 40px;
}
.city_location
{
	margin: 0px;
	font-family: Roboto;
	color: #3c3c3c;
	font-weight: bold;
	font-size: 16px;
	padding-right: 10px;
}

.title
{
	font-family: Roboto;
	font-size: 27px;
}
.slogan
{
	font-family: Roboto;
	font-size: 19px;
	color: #4b4b4b;
}

.button_explorer
{
	border: 0px solid #c065db;
	width: 21%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	height: 47px;
	background-color: #9356DC;
	background-image: linear-gradient(#FF79DA, #9356DC);
	box-shadow: 3px 5px 7px grey;
	transition: filter 0.7s;
}
.button_explorer:hover
{
	filter: brightness(1.10);
	box-shadow: 3px 5px 15px grey;
	cursor: pointer;
}
.word_button
{
	font-size: 17px;
	font-family: Roboto;
	color: white;
}
.section_midle
{
	text-align: center;
}
.title_functioning
{
	margin-left: 35px;
	font-family: roboto;
	font-size: 25px;
}
.operation_list
{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	padding-left: 0px;
}
.list_stages
{
	border: 2px solid transparent;
	border-top-left-radius: 26px;
	border-top-right-radius: 26px;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 17px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 15px;
	width: 95%;
	height: 65px;
	background-color: #f6f6f6;
	box-shadow: 4px 6px 7px #e9e9e9;
	transition: filter 0.7s;
}
.list_stages:hover
{
	filter: brightness(0.97);
	cursor: pointer;
}
.list_stages:hover .icon_stages
{
	color: #9356DC;
}
.number
{
	border: 2px solid #9356DC;
	border-radius: 16px;
	width: 23px;
	height: 22px;
	padding-top: 2px;
	text-align: center;
	background-color: #9356DC;
	color: white;
	position: absolute;
	left: 28px;
	
}
.icon_stages
{
	color: gray;
	font-size: 25px;
	width: 5%;
	padding-left: 30px;
}
.word_stage
{
	font-family: roboto;
	font-size: 17px;
}
.section_down
{
	padding-top: 25px;
	background-color: #f6f6f6;
	width: 100%;
	padding-bottom: 46px;
}
.title_restaurant
{
	margin-left: 35px;
	font-family: roboto;
	font-size: 25px;
}
.container_restaurant
{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 25px;
}
.menu_link
{
	text-decoration: none;
	color: black;
	width: 95%;
}
.border_picture
{
	border: 2px solid transparent;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 19px;
	border-bottom-right-radius: 19px;
	width: 100%;
	background-color: white;
}
.word_new
{
	border: 2px solid #99e2d0;
	width: 8%;
	height: 25px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;
	position: absolute;
	left: 86%;
	color: green;
	background-color: #99e2d0;
	animation-name: word_visibility;
	animation-duration: 3s;
	
}
.pictures
{
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
}
.container_flex
{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 15px;
}
.name_restaurant
{
	font-family: roboto;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 19px;
}
.icon_heart
{
	font-family: 'font awesome 6 free';
	font-size: 25px;
	padding-right: 20px;
	background-color: black;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 300ms linear;
}
.icon_heart:hover
{
	background-color: #FF79DA;
	font-weight: 600;
}

.city_restaurant
{
	font-family: Roboto;
	margin-top: 0px;
	padding-top: 5px;
	font-size: 19px;
	padding-left: 15px;
}
footer
{
	background-color: #353535;
	width: 100%;
}
.footer_list
{
	list-style-type: none;
	margin-bottom: 0px;
	margin-top: 0px;
}
.mini_logo
{
	width: 7%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	font-family: Shrikhand;
	font-weight: normal;
	color: white;
}
.rubrics
{
	font-family: Roboto;
	padding-bottom: 7px;
	color: white;
}
.icon_footer
{
	width: 25px;
}
.rubric_link
{
	text-decoration: none;
	color: white;
}

@keyframes visibility{
	
	0%
	{
		
		opacity: 100%;
	}
	
	50%
	{
		opacity: 100%;
		visibility: visible;
	
	}
	100%
	{
		opacity: 0%;
	}
}

@keyframes spinner{
	0%
	{
		transform: rotate(0deg);
		border-top: 8px solid #ff79da;
	}
	25%
	{
		border-top: 8px solid #ff79da;
	}
	50%
	{
		border-top: 8px solid #9356dc;
	}
	100%
	{
		transform: rotate(360deg);
		border-top: 8px solid #ff79da;
	}
}

@keyframes word_visibility
{
	from
	{
		opacity: 0%
	}
	50%
	{
		opacity: 0%;
	}
	100%
	{
		opacity: 100%;
	}
}

@media (max-width: 767px)
{
	
	.button_explorer
	{
		width: 55%;
	}
	.operation_list
	{
		align-items: center;
	}
	.list_stages
	{
		text-align: center;
		width: 90%;
	}
	.number
	{
		left: 11px;
		animation-name: word_visibility;
		animation-duration: 3s;
	}
	.icon_stages
	{
		width: 45px;
	}
	.menu_link
	{
		width: 90%;
	}
	.word_new
	{
		width: 20%;
		left: 71%;
		font-size: 15px;
	}
	
	.pictures
	{
		height: 200px;
	}
	.icon_heart:active
	{
	background-color: #FF79DA;
	font-weight: 600;
	}
}
@media (min-width: 768px) 
{
	.button_explorer
	{
		width: 55%;
	}
	.operation_list
	{
		align-items: center;
	}
	.list_stages
	{
		text-align: center;
		width: 98%;
	}
	.number
	{
		left: unset;
		animation-name: word_visibility;
		animation-duration: 3s;
	}
	.word_new
	{
		width :20%;
		left: 75%;
	}
	.pictures
	{
		width: 100%;
	}
	.mini_logo
	{
		width: 10%;
	}
	
}
@media (min-width: 992px)
{
	.operation_list
	{
		flex-direction: row;
		justify-content: space-evenly;
	}
	.list_stages
	{
		width: 29%;
		text-align: unset;
	}
	.number
	{
		position: unset;
	}
	.icon_stages
	{
		width: 12%;

	}
	.section_down
	{
		width: 100%;
	}
	.container_restaurant
	{
		flex-direction: row;
		justify-content: space-around;
	}
	.menu_link
	{
		width: 24%;
	}
	.border_picture
	{
		width: 100%;
	}
	.word_new
	{
		left: unset;
		margin-left: 14%;
		width: 8%;
	}
	.pictures
	{
		width: 100%;
		height: 230px;
	}
	
}